<aside class="bg-light vh-100 position-fixed d-flex flex-column">
    <ul class="navbar flex-column list-unstyled align-items-start">
        <a href="#" class="mb-5 ps-6"><img src="../assets/images/logo-ANSWER.svg" alt="logo"></a>
        <li class="mb-6 w-100"><a href="#" class="text-dark fw-bold d-block"><span class="material-symbols-outlined align-bottom me-3 ms-6">analytics</span>
            Dashboard</a></li>
        <li class="mb-6 w-100"><a href="#" class="text-dark fw-bold d-block"><span class="material-symbols-outlined align-bottom me-3 ms-6">forum</span>
            Question</a></li>
        <li class="mb-6 active border-start border-success border-3 w-100"><a href="#" class=" text-success fw-bold d-block"><span class="material-symbols-outlined align-bottom me-3 ms-6">assignment</span>
            Assignment</a></li>
        <li class="mb-6 w-100"><a href="#" class="text-dark fw-bold d-block"><span class="material-symbols-outlined align-bottom me-3 ms-6">video_Library</span>
            Course</a></li>
        <li class="mb-6 w-100"><a href="#" class="text-dark fw-bold d-block"><span class="material-symbols-outlined align-bottom me-3 ms-6">supervisor_account</span>
            Admin</a></li>
        <li class="mb-6 w-100"><a href="#" class="text-dark fw-bold d-block"><span class="material-symbols-outlined align-bottom me-3 ms-6">settings</span>
            Settings</a></li>
    </ul>
    <div class="d-flex align-items-center ps-6 mt-auto">
        <div class="flex-shrink-0">
            <img src="../assets/images/andychen.jpeg" width="40" height="40" class="rounded-circle object-fit-cover" alt="Andy">
        </div>
        <div class="flex-grow-1 ms-3">
            <p>Andy Chen</p>
            <a href="mailto:andy0401@mail.com">andy0401@mail.com</a>
        </div>
    </div>
</aside>